[Unit] 
Description=Shadowsocks Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssserver -c /etc/shadowsocks.json
ExecReload=/bin/kill -s SIGQUIT $MAINPID
StartLimitInterval=5
Restart=always
StandardError=syslog
NotifyAccess=all
User=nobody
Group=nobody
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
